.gitignore
.git
.github
*.dockerignore*
*Dockerfile*
*docker-compose*
dist
node_modules
npm-debug.log
**/*.env*
misc
.idea
.nvmrc
.prettierrc
.vscode
# bratiska-cli manifest files
manifest-*.y?ml
*.pem
*.md
kubernetes/
# test files not necessary for the build. If needed copy them
# specifically in seperate stage
test/
