.gitignore
.git
.github
*.dockerignore*
*Dockerfile*
*docker-compose*
dist
node_modules
npm-debug.log
**/*.env*
misc
.idea
.nvmrc
.prettierrc
.vscode
# bratiska-cli manifest files
manifest-*.y?ml
*.pem
*.md
kubernetes/
