:root {
  /*
    These variables are used in different pages and component to override
    colors of different things. They are defined as RGB values on purpose
    so they can be used in `rgb(var(--ba-color-main-600))` style or with transparency
    as `rgba(var(--ba-color-main-600), 0.25)`.
  */

  --ba-color-main-800: 147, 37, 27; /*#93251B*/
  --ba-color-main-700: 216, 55, 40; /*#D83728*/
  --ba-color-main-600: 224, 95, 83; /*#E05F53*/
  --ba-color-main-500: 238, 147, 139; /*#EE938B*/
  --ba-color-main-400: 239, 175, 169; /*#EFAFA9*/
  --ba-color-main-300: 243, 195, 191; /*#F3C3BF*/
  --ba-color-main-200: 247, 215, 212; /*#F7D7D4*/
  --ba-color-main-100: 251, 235, 234; /*#FBEBEA*/

  --ba-color-transport-800: 0, 76, 109; /*#004c6d*/
  --ba-color-transport-700: 0, 95, 136; /*#005f88*/
  --ba-color-transport-600: 51, 127, 160; /*#337fa0*/
  --ba-color-transport-500: 102, 159, 184; /*#669fb8*/
  --ba-color-transport-400: 153, 191, 207; /*#99bfcf*/
  --ba-color-transport-300: 178, 207, 219; /*#b2cfdb*/
  --ba-color-transport-200: 204, 223, 231; /*#ccdfe7*/
  --ba-color-transport-100: 229, 239, 243; /*#e5eff3*/

  --ba-color-environment-800: 0, 83, 18; /*#005312*/
  --ba-color-environment-700: 0, 104, 23; /*#006817*/
  --ba-color-environment-600: 51, 134, 69; /*#338645*/
  --ba-color-environment-500: 102, 164, 116; /*#66a474*/
  --ba-color-environment-400: 153, 195, 162; /*#99c3a2*/
  --ba-color-environment-300: 178, 210, 185; /*#b2d2b9*/
  --ba-color-environment-200: 204, 225, 209; /*#cce1d1*/
  --ba-color-environment-100: 229, 240, 232; /*#e5f0e8*/

  --ba-color-social-800: 193, 147, 38; /*#c19326*/
  --ba-color-social-700: 241, 184, 48; /*#f1b830*/
  --ba-color-social-600: 244, 198, 89; /*#f4c659*/
  --ba-color-social-500: 247, 212, 131; /*#f7d483*/
  --ba-color-social-400: 249, 227, 172; /*#f9e3ac*/
  --ba-color-social-300: 251, 234, 193; /*#fbeac1*/
  --ba-color-social-200: 252, 241, 214; /*#fcf1d6*/
  --ba-color-social-100: 254, 248, 234; /*#fef8ea*/

  --ba-color-education-800: 54, 58, 136; /*#363a88*/
  --ba-color-education-700: 67, 73, 170; /*#4349aa*/
  --ba-color-education-600: 105, 109, 187; /*#696dbb*/
  --ba-color-education-500: 142, 146, 204; /*#8e92cc*/
  --ba-color-education-400: 180, 182, 221; /*#b4b6dd*/
  --ba-color-education-300: 199, 200, 229; /*#c7c8e5*/
  --ba-color-education-200: 217, 219, 238; /*#d9dbee*/
  --ba-color-education-100: 236, 237, 246; /*#ecedf6*/

  --ba-color-culture-800: 189, 114, 46; /*#bd722e*/
  --ba-color-culture-800-rgb: rgb(189, 114, 46); /*#bd722e*/
  --ba-color-culture-700: 236, 143, 57; /*#ec8f39*/
  --ba-color-culture-600: 240, 165, 97; /*#f0a561*/
  --ba-color-culture-500: 244, 188, 136; /*#f4bc88*/
  --ba-color-culture-400: 247, 210, 176; /*#f7d2b0*/
  --ba-color-culture-300: 249, 221, 196; /*#f9ddc4*/
  --ba-color-culture-200: 251, 233, 215; /*#fbe9d7*/
  --ba-color-culture-100: 253, 244, 235; /*#fdf4eb*/


  --ba-color-gray-800: 31, 31, 31; /*#1F1F1F*/
  --ba-color-gray-700: 51, 51, 51; /*#333333*/
  --ba-color-gray-600: 92, 92, 92; /*#5C5C5C*/
  --ba-color-gray-500: 133, 133, 133; /*#858585*/
  --ba-color-gray-400: 173, 173, 173; /*#ADADAD*/
  --ba-color-gray-300: 194, 194, 194; /*#C2C2C2*/
  --ba-color-gray-200: 214, 214, 214; /*#D6D6D6*/
  --ba-color-gray-100: 235, 235, 235; /*#EBEBEB*/
  --ba-color-gray-50: 245, 245, 245; /*#F5F5F5*/
  --ba-color-gray-0: 255, 255, 255; /*#fff*/

  --ba-color-success-800: 1, 90, 41; /*#015A29*/
  --ba-color-success-700: 1, 132, 61; /*#01843D*/
  --ba-color-success-600: 52, 157, 100; /*#349D64*/
  --ba-color-success-500: 103, 181, 139; /*#67B58B*/
  --ba-color-success-400: 153, 206, 177; /*#99CEB1*/
  --ba-color-success-300: 179, 218, 197; /*#B3DAC5*/
  --ba-color-success-200: 204, 230, 216; /*#CCE6D8*/
  --ba-color-success-100: 230, 243, 236; /*#E6F3EC*/
  --ba-color-success-50: 242, 249, 245; /*#F2F9F5*/

  --ba-color-negative-800: 141, 0, 0; /*#8D0000*/
  --ba-color-negative-700: 208, 0, 0; /*#D00000*/
  --ba-color-negative-600: 218, 51, 51; /*#DA3333*/
  --ba-color-negative-500: 227, 102, 102; /*#E36666*/
  --ba-color-negative-400: 236, 153, 153; /*#EC9999*/
  --ba-color-negative-300: 241, 178, 178; /*#F1B2B2*/
  --ba-color-negative-200: 246, 204, 204; /*#F6CCCC*/
  --ba-color-negative-100: 250, 229, 229; /*#FAE5E5*/
  --ba-color-negative-50: 253, 242, 242; /*#FDF2F2*/

  --ba-color-warning-800: 152, 84, 3; /*#985403*/
  --ba-color-warning-700: 224, 123, 4; /*#E07B04*/
  --ba-color-warning-600: 230, 149, 54; /*#E69536*/
  --ba-color-warning-500: 236, 176, 104; /*#ECB068*/
  --ba-color-warning-400: 243, 202, 155; /*#F3CA9B*/
  --ba-color-warning-300: 246, 215, 180; /*#F6D7B4*/
  --ba-color-warning-200: 249, 229, 205; /*#F9E5CD*/
  --ba-color-warning-100: 252, 242, 230; /*#FCF2E6*/
  --ba-color-warning-50: 253, 248, 242; /*#FDF8F2*/

  /* These variables are overidden in pages to get custom colors for each category */

  --ba-color-category-800: var(--ba-color-main-800);
  --ba-color-category-700: var(--ba-color-main-700);
  --ba-color-category-600: var(--ba-color-main-600);
  --ba-color-category-500: var(--ba-color-main-500);
  --ba-color-category-400: var(--ba-color-main-400);
  --ba-color-category-300: var(--ba-color-main-300);
  --ba-color-category-200: var(--ba-color-main-200);
  --ba-color-category-100: var(--ba-color-main-100);

  /* default tailwind colors */

  --category-color-800: rgb(var(--ba-color-category-800));
  --category-color-700: rgb(var(--ba-color-category-700));
  --category-color-600: rgb(var(--ba-color-category-600));
  --category-color-500: rgb(var(--ba-color-category-500));
  --category-color-400: rgb(var(--ba-color-category-400));
  --category-color-300: rgb(var(--ba-color-category-300));
  --category-color-200: rgb(var(--ba-color-category-200));
  --category-color-100: rgb(var(--ba-color-category-100));

  --category-color-800--transparent: rgba(var(--ba-color-category-800), 0);
  --category-color-700--transparent: rgba(var(--ba-color-category-700), 0);
  --category-color-600--transparent: rgba(var(--ba-color-category-600), 0);
  --category-color-500--transparent: rgba(var(--ba-color-category-500), 0);
  --category-color-400--transparent: rgba(var(--ba-color-category-400), 0);
  --category-color-300--transparent: rgba(var(--ba-color-category-300), 0);
  --category-color-200--transparent: rgba(var(--ba-color-category-200), 0);
  --category-color-100--transparent: rgba(var(--ba-color-category-100), 0);

  --category-color-200--semi-transparent: rgba(var(--ba-color-category-200), 0.6);

  /* TODO implement change of contrast color depending of background (e.g. used in buttons).
      Actual state is that it is not changed anywhere and it stays white. */
  --font-contrast-color: var(--ba-color-gray-0);

  --font-color: #333;
  --error-color: #d00000;
  --background-color: rgb(var(--ba-color-gray-50));
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--font-color);
}

.form-group label.control-label {
  display: none;
}
