@import './bratislava.css';
@import './typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* useHorizontalScrollFade */
  .scroll-fade-left::before,
  .scroll-fade-right::after {
    @apply pointer-events-none absolute top-0 z-[1] block h-full w-[25px] from-black/5 to-transparent opacity-0 transition-opacity duration-200 ease-in-out content-[''];
  }

  .scroll-fade-left::before {
    @apply left-0 bg-gradient-to-r;
  }

  .scroll-fade-left-opaque::before {
    @apply opacity-100;
  }

  .scroll-fade-right::after {
    @apply right-0 bg-gradient-to-l;
  }

  .scroll-fade-right-opaque::after {
    @apply opacity-100;
  }
}

/* Display snackbar above modal. */
[class*='Snackbar_snackbar-wrapper'] {
  z-index: 60 !important;
}
