# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.nestjs_repl_history

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.vscode/launch.json
!.vscode/extensions.json

/coverage-e2e
/test-suites
test-report.xml
eslint-report.json
.env
.env.test
.env.local
.scannerwork

# Postgres data
postgres/
pgdata/


# bratiska-cli manifest files
manifest-*.y?ml

# local files
docker-compose-postgres.yml
api-responses.json
src/generated/prisma
