resources:
  - ../../base
  - secrets/database.secret.yml
  - ./secrets/cognito.secret.yml
  - ./secrets/azure-magproxy.secret.yml
  - ./secrets/oauth2-dpb.secret.yml
  - ./secrets/oauth2-paas-mpa.secret.yml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: ${BUILD_REPOSITORY_NAME}-env
    namespace: ${NAMESPACE}
    behavior: merge
    envs:
      - .env
