<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">

  <head data-id="__react-email-head"></head>

  <body data-id="__react-email-body" style="background-color:#f3f3f5;font-family:Inter, sans-serif;font-weight:400;font-size:16px;line-height:24px">
    <table align="center" width="100%" data-id="__react-email-container" role="presentation" cellSpacing="0" cellPadding="0" border="0" style="max-width:584px;width:100%;margin:0 auto;background-color:#ffffff">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" data-id="react-email-row" style="border-bottom:solid 2px;border-color:#D6D6D6;padding-top:0;margin:0" role="presentation" cellSpacing="0" cellPadding="0" border="0">
              <tbody style="width:100%">
                <tr style="width:100%">
                  <td data-id="__react-email-column"><img data-id="react-email-img" alt="Mesto Bratislava" src="https://tax-personal-estates.s3.bratislava.sk/images/bratislava-castle-medium.png" height="40" style="display:block;outline:none;border:none;text-decoration:none;margin:20px auto" /></td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" data-id="react-email-row" style="padding-bottom:32px;padding-left:24px;padding-right:24px" role="presentation" cellSpacing="0" cellPadding="0" border="0">
              <tbody style="width:100%">
                <tr style="width:100%">
                  <td data-id="__react-email-column"><img data-id="react-email-img" src="https://tax-personal-estates.s3.bratislava.sk/images/sent.png" height="88" style="display:block;outline:none;border:none;text-decoration:none;margin:24px auto" />
                    <h1 data-id="react-email-heading" style="padding-bottom:24px;padding-top:24px;text-align:center;font-weight:600;font-size:28px;line-height:36px">Vaša žiadosť bola odoslaná</h1>
                    <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0" cellPadding="0" border="0">
                      <tbody style="width:100%">
                        <tr style="width:100%">
                          <td data-id="__react-email-column">
                            <p data-id="react-email-text" style="font-size:17px;line-height:24px;margin:16px 0">{{#if firstName}}
                                Dobrý deň, {{firstName}},
                              {{else}}
                                Dobrý deň,
                              {{/if}}</p>
                            <div data-id="react-email-markdown">
                              <p style="margin-bottom:0px">ďakujeme, že ste sa rozhodli podať žiadosť {{applicationName}} cez Bratislavské konto.<br /><br /><strong>Žiadosť bola odoslaná</strong> a akonáhle ju doručíme našim kolegom a kolegyniam, budú sa venovať jej vybaveniu. Detaily si môžete pozrieť vo svojom Bratislavskom konte, v sekcii Moje žiadosti, v časti <a href="{{feHost}}/moje-ziadosti?sekcia=odoslane" style="width: 100vw;min-width: 150px;font-weight: 500;font-size: 16px;line-height: 24px;color: #333333;">Odoslané</a>. O ďalšom postupe Vás budeme informovať.</p>
                            </div>
                            <p data-id="react-email-text" style="font-size:14px;line-height:24px;margin:0;border-bottom:solid 2px;border-color:#D6D6D6;padding-top:36px"></p>
                            <h2 data-id="react-email-heading" style="padding-top:32px;padding-bottom:16px;margin:0;text-align:center;font-weight:600;font-size:20px;line-height:28px">Prosíme, ohodnoťte Vašu skúsenosť a pomôžte mestu Bratislava zlepšovať svoje služby.</h2><a href="{{feedbackLink}}" data-id="react-email-link" target="_blank" style="color:#FFFFFF;text-decoration:none;min-width:150px;border-radius:8px;background-color:#D83728;text-align:center;vertical-align:middle;display:table-cell;font-size:16px;font-weight:600;line-height:24px;padding-top:12px;padding-bottom:12px;width:100vw">Vyplniť dotazník</a>
                            <p data-id="react-email-text" style="font-size:14px;line-height:24px;margin:0;border-bottom:solid 2px;border-color:#D6D6D6;padding-top:32px"></p>
                            <div data-id="react-email-markdown">
                              <p style="margin-bottom:0px;margin-top:32px">Ďakujeme, že využívate naše služby.<br />Vaše Hlavné mesto SR Bratislava</p>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>