name: Workflow which determines, what should be deployed on konto.bratislava.sk
on:
  workflow_call:
    outputs:
      dev:
        description: "Returns true if dev-nest-forms-backend, dev-strapi and dev-next can be deployed"
        value: ${{ jobs.conditions.outputs.dev }}
      dev-nest-forms-backend:
        description: "Returns true if dev-nest-forms-backend: can be deployed"
        value: ${{ jobs.conditions.outputs.dev-nest-forms-backend }}
      dev-nest-city-account:
        description: "Returns true if dev-nest-city-account: can be deployed"
        value: ${{ jobs.conditions.outputs.dev-nest-city-account }}
      dev-strapi:
        description: "Returns true if dev-strapi can be deployed"
        value: ${{ jobs.conditions.outputs.dev-strapi }}
      dev-next:
        description: "Returns true if dev-next can be deployed"
        value: ${{ jobs.conditions.outputs.dev-next }}
      staging:
        description: "Returns true if staging-nest-forms-backend, staging-strapi and staging-next can be deployed"
        value: ${{ jobs.conditions.outputs.staging }}
      staging-nest-forms-backend:
        description: "Returns true if staging-nest-forms-backend can be deployed"
        value: ${{ jobs.conditions.outputs.staging-nest-forms-backend }}
      staging-nest-city-account:
        description: "Returns true if staging-nest-city-account: can be deployed"
        value: ${{ jobs.conditions.outputs.staging-nest-city-account }}
      staging-strapi:
        description: "Returns true if staging-strapi can be deployed"
        value: ${{ jobs.conditions.outputs.staging-strapi }}
      staging-next:
        description: "Returns true if staging-next can be deployed"
        value: ${{ jobs.conditions.outputs.staging-next }}
      prod:
        description: "Returns true if nest-forms-backend, prod-strapi and prod-next can be deployed"
        value: ${{ jobs.conditions.outputs.prod }}
      prod-nest-forms-backend:
        description: "Returns true if prod-nest-forms-backend can be deployed"
        value: ${{ jobs.conditions.outputs.prod-nest-forms-backend }}
      prod-nest-city-account:
        description: "Returns true if prod-nest-city-account: can be deployed"
        value: ${{ jobs.conditions.outputs.prod-nest-city-account }}
      prod-strapi:
        description: "Returns true if prod-strapi can be deployed"
        value: ${{ jobs.conditions.outputs.prod-strapi }}
      prod-next:
        description: "Returns true if prod-next can be deployed"
        value: ${{ jobs.conditions.outputs.prod-next }}
jobs:
  changes:
    name: Checking for directory changes in repository
    runs-on: ubuntu-latest
    outputs:
      nest-forms-backend: ${{ steps.filter.outputs.nest-forms-backend }}
      nest-city-account: ${{ steps.filter.outputs.nest-city-account }}
      strapi: ${{ steps.filter.outputs.strapi }}
      next: ${{ steps.filter.outputs.next }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Pipelines Version
        run: |
          echo "Pipelines version: 2.2.2"    

  conditions:
    name: Checking konto deployment conditions
    needs: changes
    runs-on: ubuntu-latest
    env:
      COUNT: 0
    outputs:
      dev: ${{ steps.dev.outputs.condition }}
      dev-nest-forms-backend: ${{ steps.dev-nest-forms-backend.outputs.condition }}
      dev-nest-city-account: ${{ steps.dev-nest-city-account.outputs.condition }}
      dev-strapi: ${{ steps.dev-strapi.outputs.condition }}
      dev-next: ${{ steps.dev-next.outputs.condition }}
      staging: ${{ steps.staging.outputs.condition }}
      staging-nest-forms-backend: ${{ steps.staging-nest-forms-backend.outputs.condition }}
      staging-nest-city-account: ${{ steps.staging-nest-city-account.outputs.condition }}
      staging-strapi: ${{ steps.staging-strapi.outputs.condition }}
      staging-next: ${{ steps.staging-next.outputs.condition }}
      prod: ${{ steps.prod.outputs.condition }}
      prod-nest-forms-backend: ${{ steps.prod-nest-forms-backend.outputs.condition }}
      prod-nest-city-account: ${{ steps.prod-nest-city-account.outputs.condition }}
      prod-strapi: ${{ steps.prod-strapi.outputs.condition }}
      prod-next: ${{ steps.prod-next.outputs.condition }}
    steps:
      - id: dev
        name: Check for deployment of whole project to dev
        if: startsWith(github.ref, 'refs/tags/dev') && startsWith(github.ref, 'refs/tags/dev-strapi') == false && startsWith(github.ref, 'refs/tags/dev-next') == false && startsWith(github.ref, 'refs/tags/dev-nest-forms-backend') == false && startsWith(github.ref, 'refs/tags/dev-nest-city-account') == false
        run: |
          echo "COUNT=0" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **dev**" >> $GITHUB_STEP_SUMMARY

      - id: dev-nest-forms-backend
        name: Check for dev nest-forms-backend
        if: startsWith(github.ref, 'refs/tags/dev-nest-forms-backend') || steps.dev.outputs.condition == 'true'
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **dev-nest-forms-backend**" >> $GITHUB_STEP_SUMMARY

      - id: dev-nest-city-account
        name: Check for dev nest-city-account
        if: startsWith(github.ref, 'refs/tags/dev-nest-city-account') || steps.dev.outputs.condition == 'true'
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **dev-nest-city-account**" >> $GITHUB_STEP_SUMMARY

      - id: dev-strapi
        name: Check for dev strapi
        if: startsWith(github.ref, 'refs/tags/dev-strapi') || steps.dev.outputs.condition == 'true'
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **dev-strapi**" >> $GITHUB_STEP_SUMMARY

      - id: dev-next
        name: Check for dev next
        if: startsWith(github.ref, 'refs/tags/dev-next')
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **dev-next**" >> $GITHUB_STEP_SUMMARY

      - id: staging
        name: Check for deployment of whole project to staging
        if: (startsWith(github.ref, 'refs/tags/staging') && startsWith(github.ref, 'refs/tags/staging-strapi') == false && startsWith(github.ref, 'refs/tags/staging-nest-forms-backend') == false && startsWith(github.ref, 'refs/tags/staging-nest-city-account') == false && startsWith(github.ref, 'refs/tags/staging-next') == false) || (github.event_name == 'push' && github.ref == 'refs/heads/master')
        run: |
          echo "COUNT=0" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **staging**" >> $GITHUB_STEP_SUMMARY

      - id: staging-nest-forms-backend
        name: Check for staging nest-forms-backend
        if: startsWith(github.ref, 'refs/tags/staging-nest-forms-backend') || steps.staging.outputs.condition == 'true'
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **staging-nest-forms-backend**" >> $GITHUB_STEP_SUMMARY

      - id: staging-nest-city-account
        name: Check for staging nest-city-account
        if: startsWith(github.ref, 'refs/tags/staging-nest-city-account') || steps.staging.outputs.condition == 'true'
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **staging-nest-city-account**" >> $GITHUB_STEP_SUMMARY    

      - id: staging-strapi
        name: Check for staging strapi
        if: startsWith(github.ref, 'refs/tags/staging-strapi') || steps.staging.outputs.condition == 'true'
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **staging-strapi**" >> $GITHUB_STEP_SUMMARY

      - id: staging-next
        name: Check for staging next
        if: startsWith(github.ref, 'refs/tags/staging-next')
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **staging-next**" >> $GITHUB_STEP_SUMMARY

      - id: prod
        name: Check for deployment of whole project to prod
        if: startsWith(github.ref, 'refs/tags/prod') && startsWith(github.ref, 'refs/tags/prod-strapi') == false && startsWith(github.ref, 'refs/tags/prod-next') == false && startsWith(github.ref, 'refs/tags/prod-nest-forms-backend') == false && startsWith(github.ref, 'refs/tags/prod-nest-city-account') == false
        run: |
          echo "COUNT=0" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **prod**" >> $GITHUB_STEP_SUMMARY

      - id: prod-nest-forms-backend
        name: Check for prod nest-forms-backend
        if: startsWith(github.ref, 'refs/tags/prod-nest-forms-backend') || steps.prod.outputs.condition == 'true'
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **prod-nest-forms-backend** " >> $GITHUB_STEP_SUMMARY

      - id: prod-nest-city-account
        name: Check for prod nest-city-account
        if: startsWith(github.ref, 'refs/tags/prod-nest-city-account') || steps.prod.outputs.condition == 'true'
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **prod-nest-city-account** " >> $GITHUB_STEP_SUMMARY

      - id: prod-strapi
        name: Check for prod strapi
        if: startsWith(github.ref, 'refs/tags/prod-strapi') || steps.prod.outputs.condition == 'true'
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **prod-strapi** " >> $GITHUB_STEP_SUMMARY

      - id: prod-next
        name: Check for prod next
        if: startsWith(github.ref, 'refs/tags/prod-next')
        run: |
          echo "COUNT=$(($COUNT+1))" >> $GITHUB_ENV
          echo "condition=true" >> $GITHUB_OUTPUT
          echo ":soon: **prod-next** " >> $GITHUB_STEP_SUMMARY

      - id: conditions-count-zero-summary
        if: env.COUNT == 0
        run: |
          echo ":heavy_exclamation_mark: We have zero deployments based on conditions. Exiting pipeline with Fail status." >> $GITHUB_STEP_SUMMARY

      - id: conditions-count-zero
        name: Checking if there is only zero condition true
        if: env.COUNT == 0
        uses: actions/github-script@v7.0.1
        with:
          script: |
            core.setFailed(':heavy_exclamation_mark: We have zero deployments based on conditions. Exiting pipeline with Fail status.')

      - name: Print pipeline comment
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@v2.9.0
        with:
          message: |
           ${{ env.GITHUB_STEP_SUMMARY }}
