name: Cypress test

on:
  pull_request:
    branches:
      - master

jobs:
  cypress-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.10'

      - name: Build forms-shared
        working-directory: forms-shared
        run: |
          npm install
          npm run build

      - name: Install and build application
        working-directory: next
        run: |
          npm install
          npm run build:e2e
          npm run start &

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          wait-on: "http://localhost:3000"
          wait-on-timeout: 120
          working-directory: tests
          command: npm run cypress:ci

      - name: Screenshots of errors during E2E tests
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-screenshots
          path: tests/cypress/screenshots
          retention-days: 1

      - name: Visual testing screenshots
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: visual-testing
          path: tests/cypress/visualTesting
          retention-days: 1
