name: Next deploy pipeline
on:
  push:
    tags:
      - 'dev**'
      - 'staging**'
      - 'prod**'
    branches:
      - master

jobs:
  conditions:
    name: Check for cluster conditions
    uses: bratislava/konto.bratislava.sk/.github/workflows/cluster-deploy-conditions-konto.yml@beta

  deploy-dev:
    name: after dev Backends deploy Next
    needs: [conditions, deploy-dev-strapi, deploy-dev-nest-forms-backend]
    if: needs.conditions.outputs.dev == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: next/
      cluster: tkg-innov-dev
      url: https://tkg.dev.bratislava.sk
      debug: --debug
      version: beta
    secrets:
      service-account: ${{ secrets.DEV_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-dev-nest-forms-backend:
    name: dev nest-forms-backend
    needs: conditions
    if: needs.conditions.outputs.dev-nest-forms-backend == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: nest-forms-backend/
      cluster: tkg-innov-dev
      url: https://tkg.dev.bratislava.sk
      debug: --debug
      version: beta
    secrets:
      service-account: ${{ secrets.DEV_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-dev-strapi:
    name: dev Strapi
    needs: conditions
    if: needs.conditions.outputs.dev-strapi == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: strapi/
      cluster: tkg-innov-dev
      url: https://tkg.dev.bratislava.sk
      debug: --debug
      version: beta
    secrets:
      service-account: ${{ secrets.DEV_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-dev-next:
    name: dev Next
    needs: conditions
    if: needs.conditions.outputs.dev-next == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: next/
      cluster: tkg-innov-dev
      url: https://tkg.dev.bratislava.sk
      debug: --debug
      version: beta
    secrets:
      service-account: ${{ secrets.DEV_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-staging:
    name: after staging Backends deploy Next
    needs: [conditions, deploy-staging-strapi, deploy-staging-nest-forms-backend]
    if: needs.conditions.outputs.staging == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: next/
      cluster: tkg-innov-staging
      url: https://tkg.staging.bratislava.sk
      debug: --debug
      flag: --staging
    secrets:
      service-account: ${{ secrets.STAGING_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-staging-nest-forms-backend:
    name: staging nest-forms-backend
    needs: conditions
    if: needs.conditions.outputs.staging-nest-forms-backend == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: nest-forms-backend/
      cluster: tkg-innov-staging
      url: https://tkg.staging.bratislava.sk
      debug: --debug
      flag: --staging
    secrets:
      service-account: ${{ secrets.STAGING_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-staging-strapi:
    name: staging Strapi
    needs: conditions
    if: needs.conditions.outputs.staging-strapi == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: strapi/
      cluster: tkg-innov-staging
      url: https://tkg.staging.bratislava.sk
      debug: --debug
      flag: --staging
    secrets:
      service-account: ${{ secrets.STAGING_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-staging-next:
    name: staging Next
    needs: conditions
    if: needs.conditions.outputs.staging-next == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: next/
      cluster: tkg-innov-staging
      url: https://tkg.staging.bratislava.sk
      debug: --debug
      flag: --staging
    secrets:
      service-account: ${{ secrets.STAGING_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-prod:
    name: after prod Backends deploy Next
    needs: [conditions, deploy-prod-strapi, deploy-prod-nest-forms-backend]
    if: needs.conditions.outputs.prod == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: next/
      cluster: tkg-innov-prod
      url: https://tkg.bratislava.sk
      flag: --production
      debug: --debug
    secrets:
      service-account: ${{ secrets.PROD_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-prod-nest-forms-backend:
    name: prod nest-forms-backend
    needs: conditions
    if: needs.conditions.outputs.prod-nest-forms-backend == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: nest-forms-backend/
      cluster: tkg-innov-prod
      url: https://tkg.bratislava.sk
      flag: --production
      debug: --debug
    secrets:
      service-account: ${{ secrets.PROD_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}


  deploy-prod-strapi:
    name: prod Strapi
    needs: conditions
    if: needs.conditions.outputs.prod-strapi == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: strapi/
      cluster: tkg-innov-prod
      url: https://tkg.bratislava.sk
      flag: --production
      debug: --debug
    secrets:
      service-account: ${{ secrets.PROD_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  deploy-prod-next:
    name: prod Next
    needs: conditions
    if: needs.conditions.outputs.prod-next == 'true'
    uses: bratislava/github-actions/.github/workflows/deploy-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: next/
      cluster: tkg-innov-prod
      url: https://tkg.bratislava.sk
      flag: --production
      debug: --debug
    secrets:
      service-account: ${{ secrets.PROD_STANDALONE_TOKEN }}
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
