name: Run validate and build pipelines on pull request, after approval in case of Dependabot PR
on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: read

jobs:
  dependabot-approval:
    if: github.event_name == 'pull_request' && github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    environment: dependabot
    steps:
      - name: Wait for approval
        run: echo "Approved to run CI for Dependabot PR"

  validate-and-build-services:
    needs: [dependabot-approval]
    if: always() && (needs.dependabot-approval.result == 'success' || needs.dependabot-approval.result == 'skipped')
    uses: ./.github/workflows/validate-and-build-services.yml
