name: Validate and build resources (main workflow)

on:
  workflow_call:
    secrets:
      HARBOR_REGISTRY_PASSWORD:
        required: true
      DOCKER_REGISTRY_PASSWORD:
        required: true

jobs:
  test-forms-shared:
    name: Run tests on forms-shared
    uses: ./.github/workflows/validate-forms-shared-konto.yml
    with:
      directory: forms-shared/

  build-forms-shared:
    name: Build image of forms-shared and push it to harbor
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: forms-shared/
      build_image_no_registry: ""
      tag: "--tag=build-${{ github.sha }}"
      fetch-depth: 1
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
      docker-pass: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

  build-openapi-clients:
    name: Build image of openapi-clients and push it to harbor
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: openapi-clients/
      build_image_no_registry: ""
      tag: "--tag=build-${{ github.sha }}"
      fetch-depth: 1
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
      docker-pass: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

  conditions:
    name: Check for conditions
    needs: [build-forms-shared, build-openapi-clients]
    uses: ./.github/workflows/build-conditions-konto.yml

  build-next:
    if: needs.conditions.outputs.next == 'true' || needs.conditions.outputs.forms-shared == 'true' || needs.conditions.outputs.openapi-clients == 'true'
    name: build next
    needs: [conditions]
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: next/
      build_arg: '--build_arg="SHARED_PACKAGE_TAG=build-${{ github.sha }}"'
      debug: --debug
      fetch-depth: 1
      build_image_no_registry: ""
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
      docker-pass: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

  build-strapi:
    if: needs.conditions.outputs.strapi == 'true'
    name: build Strapi
    needs: conditions
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: strapi/
      debug: --debug
      fetch-depth: 1

  validate-nest-forms-backend:
    if: needs.conditions.outputs.nest-forms-backend == 'true' || needs.conditions.outputs.forms-shared == 'true' || needs.conditions.outputs.openapi-clients == 'true'
    name: validate nest-forms-backend
    needs: conditions
    uses: ./.github/workflows/validate-nest-prisma-konto.yml
    with:
      directory: nest-forms-backend/
      run_e2e_tests: true

  build-nest-forms-backend:
    name: build nest-forms-backend
    needs: [conditions, validate-nest-forms-backend]
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: nest-forms-backend/
      build_arg: '--build_arg="SHARED_PACKAGE_TAG=build-${{ github.sha }}"'
      fetch-depth: 1
      build_image_no_registry: ""
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
      docker-pass: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

  validate-nest-clamav-scanner:
    if: needs.conditions.outputs.nest-clamav-scanner == 'true' || needs.conditions.outputs.openapi-clients == 'true'
    name: validate nest-clamav-scanner
    needs: conditions
    uses: ./.github/workflows/validate-nest-prisma-konto.yml
    with:
      directory: nest-clamav-scanner/

  build-nest-clamav-scanner:
    name: build nest-clamav-scanner
    needs: [conditions, validate-nest-clamav-scanner]
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: nest-clamav-scanner/
      build_arg: '--build_arg="SHARED_PACKAGE_TAG=build-${{ github.sha }}"'
      fetch-depth: 1
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
      docker-pass: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

  validate-nest-tax-backend:
    if: needs.conditions.outputs.nest-tax-backend == 'true' || needs.conditions.outputs.openapi-clients == 'true'
    name: validate nest-tax-backend
    needs: conditions
    uses: ./.github/workflows/validate-nest-prisma-konto.yml
    with:
      directory: nest-tax-backend/

  build-nest-tax-backend:
    name: build nest-tax-backend
    needs: [conditions, validate-nest-tax-backend]
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: nest-tax-backend/
      build_arg: '--build_arg="SHARED_PACKAGE_TAG=build-${{ github.sha }}"'
      fetch-depth: 1
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
      docker-pass: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

  validate-nest-city-account:
    if: needs.conditions.outputs.nest-city-account == 'true' || needs.conditions.outputs.openapi-clients == 'true'
    name: validate nest-city-account
    needs: conditions
    uses: ./.github/workflows/validate-nest-prisma-konto.yml
    with:
      directory: nest-city-account/

  build-nest-city-account:
    name: build nest-city-account
    needs: [conditions, validate-nest-city-account]
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli-inhouse.yml@stable
    with:
      directory: nest-city-account/
      build_arg: '--build_arg="SHARED_PACKAGE_TAG=build-${{ github.sha }}"'
      fetch-depth: 1
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
      docker-pass: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
