name: Validate and build resources with bratiska-cli
on:
  pull_request:
    branches:
      - master
jobs:
  test-forms-shared:
    name: Run tests on forms-shared
    uses: bratislava/konto.bratislava.sk/.github/workflows/validate-forms-shared-konto.yml@stable
    with:
      directory: forms-shared/

  build-forms-shared:
    name: Build image of forms-shared and push it to harbor
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli.yml@stable
    with:
      directory: forms-shared/
      build_image_no_registry: ''
      tag: '--tag=${{ github.sha }}'
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}

  conditions:
    name: Check for conditions
    needs: [test-forms-shared, build-forms-shared]
    uses: bratislava/konto.bratislava.sk/.github/workflows/build-conditions-konto.yml@stable
    permissions: write-all

  build-strapi:
    name: build Strapi
    needs: conditions
    if: needs.conditions.outputs.strapi == 'true'
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli.yml@stable
    with:
      directory: strapi/
      debug: --debug
    permissions: write-all

  validate-next:
    name: validate next
    needs: conditions
    if: needs.conditions.outputs.next == 'true' || needs.conditions.outputs.forms-shared == 'true'
    uses: bratislava/github-actions/.github/workflows/validate-typescript.yml@stable
    with:
      directory: next/
    permissions: write-all

  build-next:
    name: build next
    needs: [conditions, validate-next]
    if: needs.conditions.outputs.next == 'true' || needs.conditions.outputs.forms-shared == 'true'
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli.yml@stable
    with:
      directory: next/
      build_arg: '--build_arg="FORMS_SHARED_TAG=${{ github.sha }}"'
      debug: --debug
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
    permissions: write-all

  validate-nest-forms-backend:
    name: validate nest-forms-backend
    needs: conditions
    if: needs.conditions.outputs.nest-forms-backend == 'true' || needs.conditions.outputs.forms-shared == 'true'
    uses: bratislava/konto.bratislava.sk/.github/workflows/validate-nest-prisma-konto.yml@stable
    with:
      directory: nest-forms-backend/
    permissions: write-all

  build-nest-forms-backend:
    name: build nest-forms-backend
    needs: [conditions, validate-nest-forms-backend]
    if: needs.conditions.outputs.nest-forms-backend == 'true' || needs.conditions.outputs.forms-shared == 'true'
    uses: bratislava/github-actions/.github/workflows/build-with-bratiska-cli.yml@stable
    with:
      directory: nest-forms-backend/
      build_arg: '--build_arg="FORMS_SHARED_TAG=${{ github.sha }}"'
    secrets:
      registry-pass: ${{ secrets.HARBOR_REGISTRY_PASSWORD }}
    permissions: write-all
